[Unit]
Description=CollectIP persistent worker
After=network.target collectip-web.service

[Service]
Type=simple
WorkingDirectory=/opt/collectip
EnvironmentFile=/opt/collectip/.env
ExecStart=/opt/collectip/.venv/bin/python manage.py run_worker
Restart=always

[Install]
WantedBy=multi-user.target
